@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:wght@400;500&family=Oswald&display=swap');

.contact {
    margin: 100px;
}

.contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact ul li {
    margin: 10px 0;
}

.contact h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

.contact p {
    font-family: 'Noto Serif', serif;
    font-size: 14px;
}