@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500&display=swap');

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing-page h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.landing-page ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing-page ul li {
    margin: 0 10px;
}

