@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 30px;
    font-family: 'Bebas Neue', sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

